.container {
  background: var(--blue);
  background-image: url('/icons/moveit-symbol.svg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;
}

.container main > img {
  width: auto;
  margin-bottom: 5rem;
}

.container main h1 {
  color: var(--white);
  margin-bottom: 2.5rem;
  font-size: 2.25rem;
}

.container main div {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  color: var(--text-highlight);
  margin-bottom: 2.5rem;
}

.container main div img {
  width: 2.625rem;
  margin-right: 1.25rem;
}